.home {
    background: rgb(0, 85, 193);
    font-family: DM Sans;

    .body{
     margin-right: 10rem;
     margin-left: 10rem;
     padding-top:1rem;
    }
}


@media (max-width: 480px) {
    .home {
        background: rgb(0, 85, 193);
        
    
        .body{
         margin-right: 1.5rem;
         margin-left:1.5rem;
         font-size: 0.875rem;
         padding-top:1rem;
        }
    }
  }