.description {
  display: flex;
  margin-top: 8rem;
  justify-content: space-between;
  .access {
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
    max-width: 50%;
  }
  .image-banks {
    .bank-card {
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.85),
        rgba(255, 255, 255, 0.85)
      );
      box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.15), 3px 3px 5px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      border: 2px solid #FFFFFF;
      height: 38.687rem;
      width: 28.375rem;
      position: absolute;
      right: 10.875rem;
      z-index: 1;
     overflow: hidden;

      .title{
          display: flex;
          justify-content: center;
          font-family: DM Sans;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            margin-top: 25px;
      }
      textarea:focus, input:focus{
        outline: none;
    }
      .search-field-con{
          margin: 27px 10px 10px 16px;
          padding: 18.5px 25px;
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          background: rgba(255, 255, 255, 0.3);
          border: 2px solid rgba(255, 255, 255, 0.1);
          & input[type="text"]{
              width: 85%;
              border: none;
            padding: 10px 0;
            margin-left: 22px;
              background: transparent;
          }
      }

      .bank-list-con{
        margin: 10px 10px 0px 16px;
        padding-top: 20px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.3);
        border: 2px solid rgba(255, 255, 255, 0.1);
        overflow-y: scroll;
        height: 60vh;
        
        & hr{
            border-bottom: 1px solid white;
        }
        & .bank-accordion{
            display:flex;
            justify-content: space-between;
            // border: 1px solid black;
            padding: 18.5px 25px;
            & .bank-detail{
                display: flex;
                & img{
                    margin-right: 15px;
                }
            }
        }
      }
    }
  }
}
