.background-image {
    position: relative;
    bottom: 0rem;
    /* height: 99vh; */
    /* left: 0rem; */
    height: 598px;
    width: 1219px;
    margin-bottom: 20px;
    .background{
        max-width: 100%;
        width: 100%;
        height: auto;
    }
   
}